.accordion-content {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.3s ease;
}

.accordion {
    color: white;
    background-color: black;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    text-align: center;
    outline: none;
    width: 100%;
    transition: background-color 0.3s ease;
}

.accordion:hover {
    background-color: #000;
}

.panel {
    color: white;
    padding: 15px;
    display: none;
    background-color: black;
    border-top: 1px solid #ddd;
}

.accordion-content.active .panel {
    display: block;
}